<div class="container">
<%= form_with(model: portfolio, local: true) do |form| %>
 <% if portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
        <% portfolio.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title , class:"form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body , class:"form-control"%>
  </div>
    <div class="form-group">
        <%= form.fields_for :technologies do |item|%>
          <%= item.label :name%>
          <%= item.text_field :name, class:"form-control"%>
        <%end%>
    </div>
  <div class="form-group">
    <%= form.submit class:"btn btn-primary"%>
  </div>
<% end %>

</div>