
     <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
    <%= login_helper%>
      <li class="sidebar-nav-item">
        <%= link_to  "Home",  root_path, class:"js-scroll-trigger"%>
      </li>
      <li class="sidebar-nav-item">
        <%= link_to  "About",  about_path, class:"js-scroll-trigger" %>
      </li>
      <li class="sidebar-nav-item">
        <%= link_to  "Contact",  contact_path, class:"js-scroll-trigger"%>
      </li>
      <li class="sidebar-nav-item">
        <%= link_to  "Blog", blogs_path ,class:"js-scroll-trigger"%>
      </li>
      <li class="sidebar-nav-item">
        <%= link_to  "Portfolio", portfolios_path ,class:"js-scroll-trigger"%>
      </li>
    </ul>
  </nav>