
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
              <div class="form-label-group">
                <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"Email", class:"form-control" %>
                <%= f.label :email %>
              </div>

              <div class="form-label-group">
                
                <%= f.password_field :password, autocomplete: "current-password" ,placeholder:"Password", class:"form-control"%>
                <%= f.label :password %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="custom-control custom-checkbox mb-3">
                  <%= f.check_box :remember_me, class:"custom-control-input", id:"customCheck1" %>
                  <%= f.label :remember_me, class:"custom-control-label" %>
                </div>
              <% end %>

              <div class="actions">
                <%= f.submit "Log in" , class:"btn btn-lg btn-primary btn-block text-uppercase" %>
              </div>
            <% end %>

            <div class="mt-2 form-signin">
              <%= render "devise/shared/links" %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
