<!DOCTYPE html>
<html>
  <head>
    <title> <%= @page_title %></title>
    <meta name="keywords" content="<%= @seo_keywords %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/9b11983a29.js"></script>

  </head>

  <body>
        <%= render "shared/navbar", location: "top"%>
        <%= source_helper%>
    <%= yield %>
  </body>
</html>
